* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe Print', cursive;
}

.bg-purple {
    background-color: #522f7c !important;
    padding-left: 220px !important; /* Para que no se pegue al logo */
}

.text-white {
    color: #fff !important;
}

#logo {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 1000;
}

#logo img {
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.5);
}

.nav .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.nav .dropdown-menu::-webkit-scrollbar {
    width: 8px;
}

.nav .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.nav .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.main video {
    width: 110%;
    height: 80vh;
    object-fit: cover;
    position: relative;
    z-index: 100;
}

.modal-content {
    border-radius: 20px;
}

.modal-content input {
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
}

/* Botón Salir */
nav > form {
    margin-left: 15px;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #522f7c;
}
